{% extends 'school/base.html' %}
{% block title %}Classroom List{% endblock %}
{% block content %}

<h1>Classrooms</h1>

<p><a href="{% url 'classroom_create' %}" class="btn">+ Add New Classroom</a></p>

{% if classrooms %}
<ul>
    {% for classroom in classrooms %}
    <li>
        <a href="{% url 'classroom_detail' classroom.pk %}">
            {{ classroom.name }} - Section {{ classroom.section }}
        </a>
        |
        <a href="{% url 'classroom_update' classroom.pk %}" class="btn">Edit</a> |
        <a href="{% url 'classroom_delete' classroom.pk %}" class="btn">Delete</a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No classrooms available.</p>
{% endif %}

{% endblock %}
